/* Estilos generales */
        body  {
            background-color: #FF1100;
            padding: 0;
            margin: 0;
        }
        
        /* Barra de menú */
        .menu {
            background-color: #FF1100;
            color: blak;
            padding: 10px;
            text-align: center;
        }

        .menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu li {
            display: inline;
            margin: 0 15px;
        }

        .menu a {
            color: blue;
            text-decoration: none;
            font-weight: bold;
        }
        
/* Barra de encabezado */
        .encabezado {
            background-color: #FF1100;
            color: blak;
            padding: 20px;
            text-align: center;
        }
        
        .red  {
            color: white;
        }

/* Barra de Contenido principal */
        .contenido {
            background-color: #000;
            color: white;
            padding: 20px;
            text-align: center; /* Centra el contenido, incluida la imagen */
        }

        .contenido img {
            max-width: 80%; /* Asegura que la imagen no exceda el ancho del contenedor */
            height: auto; /* Mantiene la proporción de la imagen */
            display: block; /* Permite centrar la imagen con margin auto */
            margin: 20px auto; /* Centra la imagen horizontalmente y añade espacio arriba/abajo */
            border: 6px solid #000; /* Borde opcional para la imagen */
            box-shadow: 2px 2px 5px rgba(F,F,F,0.1); /* Sombra opcional */
        }
        
/* Barra de contacto */
        .contacto {
           background-color: #000;
           color: white;
           padding: 6px;
           margin-top: 20px;
           text-align: center; 
        }
        
/* Barra de mensajes */
        .mensajes {
           background-color: #000;
           color: red;
           padding: 20px 0;
           margin-top: 20px;
           text-align: center;
        }
        
/* Pie de página */
        .pie-pagina {
            background-color: #000;
            color: white;
            text-align: center;
            padding: 20px 0;
            margin-top: 20px;
        }

        .pie-pagina img {
            max-width: 5%; /* Tamaño de la imagen en el pie de página */
            height: auto;
            margin-bottom: 10px; /* Espacio entre la imagen y el texto del pie de página */
        }

        .pie-pagina p {
            margin: 0;
            font-size: 0.9em;
        }